@import 'normalize';
@import 'utils/variables';
@import 'utils/mixins';
@import 'layouts/header';
@import 'layouts/left-container';
@import 'layouts/center-container';
@import 'layouts/right-container';


main {
    display: flex;
    justify-content: space-between;
    background-color: $fourth-color;
    height : 500px;
}




