@import 'normalize';
@import 'utils/variables';
@import 'utils/mixins';
@import 'layouts/generals';
@import 'layouts/header';
@import 'layouts/left-container';
@import 'layouts/center-container';
@import 'layouts/right-container';
@import 'layouts/footer';
@import 'layouts/modals';
@import 'pages/home';

body{
    font-family: 'Poppins', sans-serif;
}


.main-container {
    display: flex;
    justify-content: space-between;
    background-color: $fourth-color;
}




