.main-header {
    height : 20vh;
    min-height : 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-only{
        justify-content: center;
    }
    &--dark{
        background-color: $tertiary-color;
    }
    &__logo{
        width : 350px;
        height : 100px;
        margin-left : 30px;
        background-position: center;
        background-size: cover;
        @include mobile-only{
            width: 90%;
            height : auto;
            margin : 0;
        }
    }
}