.left-container {
    width: 20vw;
    @include tablette-only {
        width: 100%;
        order: 1;
    }
}

.profile-aside {
    @include card-style(white);
    display: flex;
    justify-content: space-between;
    & img {
        @include profile-image();
    }
    & p {
        margin-left: 10px;
        word-break: break-word;
    }
    &--dark {
        @include card-style($tertiary-color);
        color: $dark-text-color;
    }
}

.left-menu {
    @include card-style(white);
    &--dark {
        @include card-style($tertiary-color);
        color: $dark-text-color;
    }
    & ul {
        padding: 0;
    }
    &__link {
        color: black;
        text-decoration: none;
        &--dark {
            color: white;
        }
    }
    &__element {
        cursor: pointer;
        list-style-type: none;
        padding: 15px;
        font-weight: bold;
        border-bottom: 1px $secondary-color solid;
        &--no-border {
            border-bottom: none;
        }
        &:hover {
            background-color: $secondary-color;
        }
        & i {
            margin-right: 15px;
            color: $primary-color;
        }
        &--dark {
            &:hover {
                background-color: black;
            }
            &:hover i {
                color: $primary-color;
            }
            & i {
                color: $secondary-color;
            }
        }
    }
}
