
.profile-container{
    @include card-style(white);
    position : relative;
    display: flex;
    @include mobile-only{
        flex-direction: column;
        align-items: center;
    }
    &--dark {
        @include card-style($tertiary-color);
        color: $dark-text-color;
    }
    & img {
        width : 150px;
        height : fit-content;
        margin-right: 50px;
    }
    &__modify-icon{
        position : absolute;
        right : 30px;
        cursor : pointer;
    }
}

.profile-change{
    @include card-style(white);
    position : relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--dark {
        @include card-style($tertiary-color);
        color: $dark-text-color;
    }
    &__icon{
        position : absolute; 
        right : 30px;
        cursor : pointer;
    }
    & h2 {
        text-align: center;
    }
    &__form{
        display: flex;
        flex-direction: column;
        width : 70%;
        &__picture{
            display : flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom : 20px;
            & img {
                width : 150px;
                height : fit-content;
            }
            & div {
                display: flex;
                flex-direction : column;
                width : min-content;
            }
        }
        & label{
            margin : 5px;
        }
        & input{
            margin : 5px 0 15px 0;
        }
        & textarea{
            resize : none;
            margin : 5px 0 15px 0;
        }
        &__submit{
            color : $primary-color;
            align-self: center;
        }
    }
}

.no-allowed-change{
    color : grey;
}
