.center-container{
    width : 60vw;
}

.new-post{
    @include card-style;
    display : flex;
    justify-content: space-between;
    align-items: center;
    &__post-picture {
        height : fit-content;
        width : fit-content;
        max-width : 100%;
        max-height : 300px;
    }
    &__form{
        flex : 1;
        padding : 0 20px;
        display : flex;
        flex-direction: column;
        & textarea{
            resize: none;
            height : auto;
            border : none;
            padding : 10px;
            border-radius: 15px;
            &:focus{
                outline: none;
                border : 3px solid $secondary-color;
            }
        }
        &__file-div{
            margin-top : 20px;
            display : flex;
        }
    }
    &__validate{
        background-color: $primary-color;
        font-weight : bold;
        color : white;
        border : none;
        border-radius: 15px;
        padding : 10px;
        & i {
            margin-right : 10px;
        }

    }
}


.post-container{
    display: flex;
    flex-direction: column-reverse; //To get the last post first
}


.post{
    @include card-style();
    &__header{
        display : flex;
        position : relative;
        //background-color: aqua;
        & img {
            margin-right : 20px;
            border-radius: 10px;
        }
        & p {
            margin :0;
        }
        &__user{
            font-weight : bold;
        }
        &__icon-menu{
            position : absolute;
            right : 10px;
            &:hover + nav{
                display : block;
                opacity: 100%;
            }
        }
        &__menu{
            display : none;
            position : absolute;
            right : 25px;
            border : 1px dashed black;
            border-radius: 20px;
            padding : 10px;
            &:hover {
                display : block;
                opacity: 100%;
            }
            & ul{
                padding :0;
                margin : 0;
            }
            &__element{
                border-bottom: 1px $primary-color solid;
                list-style-type:none;
                cursor : pointer;
                padding : 5px;
                &:hover{
                    background-color: $secondary-color;
                }
                &--no-border{
                    border-bottom: none;
                }
            }
        }
    }
    &__main{
        display : flex;
        flex-direction: column;
        &__post-picture {
            height : fit-content;
            width : fit-content;
            max-width : 100%;
            max-height : 300px;
        }
    }
    &__footer{
        &__menu{
            & ul{
                display : flex;
                margin : 20px 0 0 0;
                padding : 0;
                & li {
                    list-style-type: none;
                    margin-right : 30px;
                    cursor : pointer;
                    &:hover {
                        color : $primary-color;
                    }
                    & i {
                        margin-right: 5px;
                    }
                }
            }
        }
        
    }
}

.profile-container{
    @include card-style();
    position : relative;
    display: flex;
    & img {
        width : 150px;
        height : fit-content;
        margin-right: 50px;
    }
    &__modify-icon{
        position : absolute;
        right : 30px;
        cursor : pointer;
    }
}

.profile-change{
    @include card-style();
    position : relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon{
        position : absolute; 
        right : 30px;
        cursor : pointer;
    }
    & h2 {
        text-align: center;
    }
    &__form{
        display: flex;
        flex-direction: column;
        width : 70%;
        &__picture{
            display : flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom : 20px;
            & img {
                width : 150px;
                height : fit-content;
            }
            & div {
                display: flex;
                flex-direction : column;
                width : min-content;
            }
        }
        & label{
            margin : 5px;
        }
        & input{
            margin : 5px 0 15px 0;
        }
        & textarea{
            resize : none;
            margin : 5px 0 15px 0;
        }
        &__submit{
            color : $primary-color;
            align-self: center;
        }
    }
}

.no-allowed-change{
    color : grey;
}


.settings-container{
    @include card-style();
}

.react-switch{
    width : 180px;
    font-weight: bold;
    &__mode{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height : 100%;
        width: max-content;
        position : absolute;
    }
    &__uncheckedIcon{
        color : $primary-color;
        padding-right : 2px;
        right : 40px;
    }
    &__checkedIcon{
        left : 40px;
        color : white;
        margin-left: 5px;
    }
    &__HandleIcon{
        fill : $secondary-color;
        height : 100%;
        width : 100%;
    }
}