.center-container{
    width : 60vw;
}

.new-post{
    @include card-style;
    display : flex;
    justify-content: space-between;
    align-items: center;
    & img {
        @include profile-image();
    }
    & form{
        width : 60%;
        & textarea{
            resize: none;
            height : auto;
            width : 100%;
            border : none;
            padding : 10px;
            border-radius: 15px;
        }
    }
    & button {
        background-color: $primary-color;
        font-weight : bold;
        color : white;
        border : none;
        border-radius: 15px;
        padding : 10px;
        & i {
            margin-right : 10px;
        }

    }
}

.post{
    @include card-style();
    &__header{
        display : flex;
        //background-color: aqua;
        & img {
            margin-right : 20px;
        }
        & p {
            margin :0;
        }
        &__user{
            font-weight : bold;
        }
    }
    &__main{
        //display : flex;
        & img {
            width : 100%;
            height : fit-content;
        }
    }
}