.main-header {
    height : 20vh;
    min-height : 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--dark{
        background-color: $tertiary-color;
    }
    &__right-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 50px;
        padding : 20px;
    }
    &__logo{
        width : 350px;
        height : 100px;
        margin-left : 30px;
        background-image: url("../../assets/icon-left-font.png");
        background-position: center;
        background-size: cover;
        &--dark{
            background-image: url("../../assets/icon-left-font-monochrome-white.png");
        }
    }
    &__form{
        color : black;
        position : relative;
        & input {
            height : 30px;
            width : 300px;
            padding : 10px 10px 10px 45px;
            border-radius: 20px;
            background-color: $fourth-color;
        }
        &__icon{
            color : $primary-color;
            position : absolute;
            left : 15px;
            top : 17px;
            font-size : 20px;
        }
    }
    &__avatar{
        width : 50px;
        height : 50px;
        margin-left : 20px;
        border-radius: 10px;
    }
}