.left-container{
    width: 20vw;
}

.profile-container {
    @include card-style();
    display : flex;
    justify-content: space-between;
    & img {
        @include profile-image();
    }
}

.menu{
    @include card-style();
    & ul{
        padding : 0;
    }
    & li {
        list-style-type:none;
        padding : 15px;
        & i{
            margin-right: 15px;
        }
    }
}