.left-container{
    width: 20vw;
}

.profile-container {
    @include card-style();
    display : flex;
    justify-content: space-between;
    & img {
        @include profile-image();
    }
}

.menu{
    @include card-style();
    & ul{
        padding : 0;
    }
    &__element {
        cursor: pointer;
        list-style-type:none;
        padding : 15px;
        font-weight : bold;
        border-bottom: 1px $secondary-color solid;
        &--no-border{
            border-bottom: none;
        }
        &:hover{
            background-color: $secondary-color;
        }
        & i{
            margin-right: 15px;
            color : $primary-color;
        }
    }
}