.show-profile-modal{
    @include card-style();
    position: absolute;
    top: 40%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    padding : 20px;
    & h2 {
        text-align: center;
    }
    & img {
        object-fit: cover;
        width : 300px;
        height: 300px;
    }
    &__title{
        font-weight: bold;
    }
}


.delete-modal{
    @include card-style();
    position: absolute;
    top: 40%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    border : 8px double $secondary-color;
    & h2 {
        text-align: center;
    }
    & div {
        display : flex;
        justify-content: space-around;
        & button {
            @include post-validate-button();
        }
    }
}

  .modal-close-icon{
      position : absolute;
      right : 30px;
      top:30px;
      cursor : pointer;
  }