
.right-container{
    width: 20vw;
    height :fit-content;
}

.info{
    @include card-style(white);
    &--dark {
        @include card-style($tertiary-color);
        color: $fourth-color;
    }
}

