.comment-container {
    background-color: $secondary-color;
    border-radius: 0 0 20px 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    &__list {
        display: flex;
        flex-direction: column-reverse;
    }
}

.comment {
    display: flex;
    align-items: center;
    margin: 10px 10px 5px 10px;
    padding: 0 10px;
    position: relative;
    background-color: $fourth-color;
    &--dark {
        background-color: $tertiary-color;
    }
    &__text {
        &__pseudo {
            font-weight: bold;
            //font-size : 15px;
        }
        &__datetime {
            font-style: italic;
            font-size: 12px;
        }
    }
    & img {
        @include profile-image();
        margin-right: 10px;
    }
    &__menu {
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
        & i {
            margin-right: 5px;
        }
    }
    &__modifying {
        flex: 1;
        padding-bottom: 10px;
        &__form {
            display: flex;
            @include mobile-only{
                flex-direction: column;
            }
            & textarea {
                @include textarea-post();
                flex: 1;
            }
            &__validate {
                @include post-validate-button();
                margin-left: 10px;
                @include mobile-only{
                    margin-top : 10px;
                }
            }
        }
    }
}

.new-comment {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 10px;
    background-color: $fourth-color;
    @include mobile-only{
        flex-direction: column;
        align-items: center;
    }
    &__form {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
        display: flex;
        & textarea {
            flex: 1;
            @include textarea-post();
            @include mobile-only{
                margin-top: 10px;
            }
        }
        &__validate {
            @include post-validate-button();
            margin-left: 10px;
        }
    }
}
